.container {
    width:100px;
    height:100px;
    background-color:white;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    font-size: 75pt;
    margin: 2px;
    border: 2px solid #000; 
/*     -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; */
}
.container:hover{
    background-color:beige;
}

/* .container:hover {
    -webkit-transform: rotate(-7deg); 
    -moz-transform: rotate(-7deg); 
    -o-transform: rotate(-7deg);
} */


/* .container.middle {
    background-color:red;
} */